---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Tests">
  <div class="flex flex-col mt-20">
    <a href="CSSTests/css-tests"><h1>CSS Tests</h1></a>
    <a href="CSSTests/css-gradients"><h1>Gradients</h1></a>
    <a href="CSSTests/css-typewriter"><h1>Typewriter</h1></a>
  </div>
  <style>
    .bg-container {
      width: min(1000px, 100%);
      margin: 0 auto;
      columns: 2 50%;
      column-gap: 1em;
    }

    h1 {
      font-size: clamp(1rem, calc(1.5rem + 0.5vw), 1.5rem);
      color: #8bf;
      text-align: left;
      font-family: Lato, sans-serif;
      font-weight: 700;
    }
  </style>
</Layout>
